/* import fonts */
/* nag note says 'use link instead' */

/*

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">

in CSS rules:
font-family: 'Signika', sans-serif;

*/

/* titles */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

/* other headings */
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


.article-banner {
  width: auto;
  height: auto;
  border: 0;
}

img[src="images/banner.png"] {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 100px 25px 0 0;
}

.zoomDiv {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 50px #888888;
  max-height:100%;
}

.zoomImg {
  width: 100%;
}



/* divs for chapters */

.chapterprelude {
  background-color: #daeff0;
}

.chaptercontents {
  background-color: #daeff0;
}

.chaptercontents li {
  line-height: 10px;
}

.chaptercontents li li {
  margin-top: 14px;
  font-size:  10pt;
}


/* Selected Figures in Chapter RMDs */
/* the attributes here are only to show that we can control them here */

.figtitle {
  color: blue;
}


.chap-fig-desc {
  line-height: 16px;
  color: blue;
}

